<div class="container">
    <input style="border: 1px solid #ECECEC;" [(ngModel)] = "searchTerm" (ngModelChange) = "search()" placeholder="serach"/>
    <button *ngIf="isadmin" class="btn btn-primary" type="button" (click)="RedirectToAddTab()">Add Loan</button>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Lame</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loan of lstloan">
          <td>{{loan.firstName}}</td>
          <td>{{loan.lastName}}</td>
          <td>{{loan.propertyAddress}}</td>
          <td><a routerLink="/loanAdd" *ngIf="isadmin">Edit</a></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  